:root {
  // Dimension page
  --max-width: 1200px;
  --min-width: 335px;

  --padding-thin: 20px;
  --padding-large: 40px;

 // --margin-thin: ;
 // --margin-large: ;

}

// Media queries breakpoints

$vw-thin: 320px;
$vw-small: 576px;
$vw-medium: 768px;
$vw-large: 992px;
$vw-huge: var(--max-width);